:root {
	--card-border-color: #0a0;
	--border-radius: 10px;
}

html {
	height: 100%;
}

* {
	box-sizing: border-box;
	text-wrap: balance;
}

body {
	min-height: 100%;
	position: relative;
	text-wrap: balance;
	color: var(--foreground-color);
	background-color: var(--background-color);
	transition:
		background-color 1s,
		color 0.5s;
}

form {
	border: solid 1px pink;
	padding: 10px;
	border-radius: 10px;
	background-color: #8888880f;
}

a {
	user-select: none;
}
