@import "tailwindcss";
@import "@nuxt/ui";

@layer base {
	:root {
		--card-border-color: #0a0;
		--border-radius: 10px;
	}

	html {
		height: 100%;
	}

	* {
		box-sizing: border-box;
		text-wrap: balance;
	}

	body {
		min-height: 100%;
		position: relative;
		text-wrap: balance;
		color: var(--ui-text, var(--foreground-color));
		background-color: var(--ui-bg, var(--background-color));
		transition:
			background-color 1s,
			color 0.5s;
	}

	a {
		user-select: none;
	}

	.ModalOverlay {
		background: #00000040;
		backdrop-filter: blur(2px);
	}
}
