// Layer order
@layer base, app, theme;

// Import Bulma
@import "../../../node_modules/bulma/css/bulma.css" layer(base);

// App overrides of Bulma styles
@layer app {
	// Resets & common styles
	html {
		height: 100%;
	}

	* {
		box-sizing: border-box;
		text-wrap: balance;
	}

	a {
		user-select: none;
	}

	body {
		min-height: 100%;
		position: relative;
		transition:
			background-color 1s,
			color 0.5s;
	}

	.button {
		.iconify {
			margin: 0;
		}
	}

	.clickable {
		cursor: pointer;
	}

	/* Declare app variables */
	:root {
		--input-radius: 0.25rem;
		--input-border-width: 1px;
		--input-border-style: solid;
		--input-font-size: 1.2rem;
	}

	// Override bulma variables
}

// @layer theme {
// 	:root {
// 		--bulma-modal-card-head-padding: 0.7rem;
// 	}
// }
