:root {
  --card-border-color: #0a0;
  --border-radius: 10px;
}

// COLOR MODES
.light-mode {
  body {
    --background-color: #ddd;
    --foreground-color: #111;
    --hilight-color: #080;
    --shadow-color: #00000088;

    background: linear-gradient(
      0deg,
      rgba(190, 190, 255, 1) 0%,
      rgba(250, 250, 255, 1) 100%
    );
  }
}

.dark-mode {
  body {
    --background-color: #050a18;
    --foreground-color: #ddd;
    --hilight-color: lime;
    --shadow-color: #00000022;

    background: linear-gradient(
      0deg,
      rgba(10, 10, 30, 1) 0%,
      rgba(5, 5, 10, 1) 100%
    );
  }
}

.sepia-mode {
  body {
    --background-color: #f1e7d0;
    --foreground-color: #433422;
    --hilight-color: #338833;
  }
}

body {
  text-wrap: balance;
  color: var(--foreground-color);
  background: var(--background-color);
  transition:
    background-color 1s,
    color 0.5s;
}

form {
  border: solid 1px pink;
  padding: 10px;
  border-radius: 10px;
  background-color: #8888880f;
}
