@import "tailwindcss";
@import "@nuxt/ui";

@theme {
	--breakpoint-lg: 800px;
}

@layer base {
	:root {
		--card-border-color: #0a0;
		--border-radius: 10px;
	}

	html {
		height: 100%;
		font-size: clamp(0.7rem, 0.625rem + 0.3125vw, 1rem);
	}

	* {
		box-sizing: border-box;
		text-wrap: balance;
	}

	body {
		min-height: 100%;
		position: relative;
		text-wrap: balance;
		color: var(--ui-text, var(--foreground-color));
		background-color: var(--ui-bg, var(--background-color));
		transition:
			background-color 1s,
			color 0.5s;
	}

	a {
		user-select: none;
	}

	.ModalOverlay {
		background: #00000040;
		backdrop-filter: blur(2px);
	}

	.BulletList {
		list-style-type: disc;
	}

	.Checkbox_Root {
		button {
			cursor: pointer;
		}
	}

	.TableCell {
		&:has([role="checkbox"]) {
			padding-left: 0 !important;
			padding-right: 0 !important;
			width: 40px !important;
		}
	}
}
