<!DOCTYPE html>
<html>
<body>

    <h1>Tools</h1>
    <a href="/Content/tools/ReadNFC.zip" download="ReadNFC.zip">ReadNFC</a>
    <a href="/Content/tools/WriteNFC.zip" download="WriteNFC.zip">WriteNFC</a>

</body>
</html> 